<script type="text/javascript">
  $(function () {
    var userData = <%= current_user.to_json.html_safe %>;
    window.currentUser = new Catchup.Models.User(userData);

    Catchup.initialize();
  });
</script>
<div id="nav-bar"></div>
<div id="content"></div>
