<head>
<title>Welcome To Catch Up!</title>
</head>
<body class="login">
<!-- header starts here -->
<div id="facebook-Bar">
  <div id="facebook-Frame">
    <!-- To Do -->
    <div id="logo"> <a href="#">Catch Up!</a> </div>
    <div id="header-main-right">
      <div id="header-main-right-nav">
        <form method="post" action="/session" id="login_form" name="login_form">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <table border="0" style="border:none">
            <tr>
              <td ><input type="text" tabindex="1"  id="email" placeholder="Email" name="user[email]" class="inputtext radius1" value=""></td>
              <td ><input type="password" tabindex="2" id="pass" placeholder="Password" name="user[password]" class="inputtext radius1" ></td>
              <td ><input type="submit" class="fbbutton" name="login" value="Login" /></td>
            </tr>
            <tr>
              <td><label>
                  <input id="persist_box" type="checkbox" name="persistent" value="1" checked="1"/>
                  <span style="color:#ccc;">Keep me logged in</span></label></td>
              <td><label><a href="" style="color:#ccc; text-decoration:none">forgot your password?</a></label></td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

<form id="register" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <h2>Sign Up</h2>
  <h4>Catchup with friends around the world.</h4>

  <input type="text" class="input-normal form-control" name="user[name]" placeholder="Your Name" value="" />
  <input type="text" class="input-normal form-control" name="user[email]" placeholder="Your Email Address" value="" />
  <input type="password" class="input-normal form-control" name="user[password]" placeholder="Your Password" value="" />

  <input type="date" class="input-date form-control" name="user[dob]" placeholder="Your Birthday" value="" />
  <button type="submit" form="register" class="btn btn-default btn-register" name="signup">Sign Up!</button>

</form>

<section class="guest-logins">
  <h2>Log In as</h2>

  <div class="row">

  <div class="hovereffect" id="login-bruce">
    <img class="img-responsive" src="/assets/profile/Bruce.jpg" alt="">
    <div class="overlay">
       <h2>Bruce Wayne</h2>
    </div>
  </div>

  <div class="hovereffect" id="login-megan">
    <img class="img-responsive" src="/assets/profile/megan.jpg" alt="">
    <div class="overlay">
       <h2>Megan Fox</h2>
    </div>
  </div>

  <div class="hovereffect" id="login-mark">
    <img class="img-responsive" src="/assets/profile/mark.jpg" alt="">
    <div class="overlay">
       <h2>Mark Zuckerberg</h2>
    </div>
  </div>

  <div class="hovereffect" id="login-ronda">
    <img class="img-responsive" src="/assets/profile/Ronda.png" alt="">
    <div class="overlay">
       <h2>Ronda Rousey</h2>
    </div>
  </div>


</div>

</section>

<script>
  $('#login-bruce').on('click', function () {
    $('#email').val('bruce@gotham.com');
    $('#pass').val('qwerty');
    $('#login_form').submit();
  });

  $('#login-megan').on('click', function () {
    $('#email').val('megan@gotham.com');
    $('#pass').val('qwerty');
    $('#login_form').submit();
  });

  $('#login-mark').on('click', function () {
    $('#email').val('mark@gotham.com');
    $('#pass').val('qwerty');
    $('#login_form').submit();
  });

  $('#login-ronda').on('click', function () {
    $('#email').val('ronda@gotham.com');
    $('#pass').val('qwerty');
    $('#login_form').submit();
  });
</script>
