<textarea rows="1" cols="40" name="comment[body]" placeholder="Write a comment..."></textarea>
<input type="hidden" name="comment[post_id]" value="<%= post_id %>">
<button class="btn-create-comment" type="submit">Comment</button>
