
<textarea class="new-comment-input"rows="1" name="comment[body]" placeholder="Write a comment..."></textarea>
<input type="hidden" name="comment[post_id]" value="<%= post_id %>">
<button type="submit" class="btn btn-default btn-create-comment" aria-label="Left Align">
  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
  <span contenteditable="true"></span>
</button>
