<main class="content profile">
  <header class="content-cover">
    <div id="cover-pic-holder"><img id="cover-pic" src="<%= user.escape("cover_pic") %>"/></div>
    <h1><%= user.escape("name") %></h1>
    <img id="profile-pic" src="<%= user.escape("profile_pic") %>"/>
    <button id="change-cover">Change Cover</button>

    <div class="profile-ribbon">
      <ul id="ribbon">
        <li><button>Timeline</button></li>
        <li><button>About</button></li>
        <li><button>Friends</button></li>
        <li><button>Photos</button></li>
      </ul>
    </div>
  </header>

  <section class="content-sidebar">
    <ul class="basic-info"></div>
    <div class="friends-thumbs"></div>
    <div class="photos-thumbs"></div>
  </section>

  <section class="content-main">

    <div class="new-post-form"></div>
    <div class="posts-holder"></div>

  </section>

</main>
