<header class="content-cover">
  <img src="<%= user.escape("cover_pic") %>"/>
  <h1><%= user.escape("name") %></h1>
  <button name="change-cover">Change Cover</button>
</header>

<section class="content-sidebar">
  <img src="<%= user.escape("profile_pic") %>"/>
  <ul class="basic-info"></div>
  <div class="friends-thumbs"></div>
  <div class="photos-thumbs"></div>
</section>

<section class="content-main">

  <ul class="profile-ribbon">
    <li><a href="#">Timeline</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Friends</a></li>
    <li><a href="#">Photos</a></li>
  </div>

  <form id="new-post" action="/api/posts" method="post">
    <textarea name="post[body]" rows="4" cols="40" placeholder="What's on your mind?"></textarea>
    <br>
    <button class="submit-post" form="new-post" type="submit">Post</button>
  </form>
</section>

<button class="edit-profile">Edit Profile</button>
