<main class="content profile">
  <header class="content-cover">

    <div id="cover-pic-holder">
      <img id="cover-pic" src="<%= user.escape("cover_pic") %>"/>

      <% if (user.escape('id') === currentUser.escape('id')) { %>
        <button id="change-cover" type="button" class="btn btn-default" aria-label="Left Align">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Update Cover Picture
        </button>
      <% } %>
    </div>

    <h1><%= user.escape("name") %></h1>

    <div id="profile-pic-holder">
      <img id="profile-pic" src="<%= user.escape("profile_pic") %>"/>

      <% if (user.escape('id') === currentUser.escape('id')) { %>
        <button id="change-avatar" type="button" class="btn btn-default btn-lg" aria-label="Left Align">
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Update
        </button>
      <% } %>
    </div>

    <div class="btn-friendship-status"></div>


    <div class="profile-ribbon">
      <ul class="nav nav-pills">
        <li role="presentation"><a href="#" id="timeline-show">Timeline</a></li>
        <li role="presentation"><a href="#">About</a></li>
        <li role="presentation"><a href="#" id="friends-show">Friends</a></li>
        <li role="presentation"><a href="#">Photos</a></li>
      </ul>
    </div>
  </header>

  <section class="active-subview"></section>

</main>
