<section class="content-sidebar">
  <div class="basic-info"></div>

  <div class="friends-thumbs">
    <p id="friends-thumbs-info">
      FRIENDS - <%= user.friends().models.length %>
    </p>
    
    <ul>
      <% friends.forEach(function(friend) { %>
        <li>

          <a href="#" class="friend-thumbnail"><img src="<%= friend.escape('profile_pic') %>" ></a>

          <p class="friend-thumb-name">

          </p>

        </li>
      <% }) %>
    </ul>
  </div>

  <div class="photos-thumbs">

  </div>
</section>

<section class="content-main">

  <div class="new-post-form"></div>
  <div class="posts-holder"></div>

</section>
