<section class="content-sidebar">
  <div class="basic-info"></div>
  <div class="friends-thumbs">

  </div>

  <div class="photos-thumbs">

  </div>
</section>

<section class="content-main">

  <div class="new-post-form"></div>
  <div class="posts-holder"></div>

</section>
