<div class="panel panel-default">
  <div class="panel-body">

    <textarea class="txt-new-post-form"
              name="post[body]"
              rows="4"
              placeholder="What's on your mind?"></textarea>

    <input type="hidden"
           name="numLikes"
           value="0">

  </div>

  <div class="panel-footer">
    <button class="btn btn-default
            btn-submit-post"
            aria-label="Left Align"
            type="submit">Post</button>
  </div>

</div>
