<div class="panel-new-post-body">
  <textarea class="txt-new-post-form"
            name="post[body]"
            rows="4"
            placeholder="What's on your mind?"></textarea>

  <input type="hidden"
         name="numLikes"
         value="0">
</div>

<div class="panel-new-post-buttons">

  <button type="button"
          class="btn btn-default btn-add-photo"
          aria-label="Left Align">

      <span class="glyphicon glyphicon-camera"
            aria-hidden="true"></span></button>

  <button class="btn btn-default btn-submit-post"
          aria-label="Left Align"
          type="submit">Post</button>
</div>


<br>
<br>
