<p class="post-body">
  <%= post.escape('body') %>
</p>

<!-- Dropdown -->
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Edit Post</a></li>
    <li><a href="#">Delete Post</a></li>
  </ul>
</div>

<br>
<%= post.escape("numLikes") %>
<br>

<% var likeButtonText = "" %>
<% if (post.isLiked() === true) { %>
<%   likeButtonText = "Unlike"; %>
<% } else { %>
<%   likeButtonText = "Like!"; %>
<% } %>

<button class="post-like"><%= likeButtonText %></button>
<br>

<ul class="comments-container"></ul>
<div class="new-comment-container"></div>
