<div class="post-main">
  <li class="dropdown post">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#" id="edit-post">Edit</a></li>
      <li><a href="#" id="delete-post">Delete</a></li>
    </ul>
  </li>

  <div class="post-body">
    <%= post.escape('body') %>
  </div>

  <button type="button" class="btn btn-default btn-done-editing" style="display: none;" aria-label="Left Align">Done Editing</button>


  <!-- Dropdown -->

  <br>
  <% var likeButtonText = "" %>
  <% if (post.isLiked() === true) { %>
  <%   likeButtonText = "Unlike"; %>
  <% } else { %>
  <%   likeButtonText = "Like!"; %>
  <% } %>
  <hr>

  <button type="button" class="btn btn-default post-like" aria-label="Left Align">
    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= likeButtonText %>
  </button>
</div>

<div class="post-footer">
  <div class="likes-text">
    <%= post.escape("numLikes") %> people like this.
  </div>

  <hr>

  <ul class="comments-container"></ul>
  <div class="new-comment-container"></div>
</div>
