<p class="post-body">
  <%= post.escape('body') %>
</p>

<br>
<%= post.escape('likes').length %>
<br>
<button class="post-like">Like!</button>
<button class="post-comments">Comments</button>
<br>

<form class="create-comment" action="/api/comments" method="post">
  <textarea rows="2" cols="40" placeholder="Write a comment..."></textarea>
  <button class="post-create-comment">Comment</button>
</form>
