<p class="post-body">
  <%= post.escape('body') %>
</p>

<br>
<%= post.escape("numLikes") %>
<br>
<% debugger %>
<button class="post-like">Like!</button>
<br>

<ul class="comments-container">

</ul>

<form class="create-comment" action="/api/comments" method="post">
  <textarea rows="1" cols="40" placeholder="Write a comment..."></textarea>
  <button class="post-create-comment">Comment</button>
</form>
