.comments-container {
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
  margin-bottom: 8px;
  list-style-type: none;
  padding-left: 0px;
}

.comment-box {
  position: relative;
  margin-bottom: 22px;
}

.comment-dropdown {
  float: right;
  position: absolute;
  margin-top: -5px;
  display: inline-block;
}

.btn-comment-dropdown {
  border: none;
  background: transparent;
}

.comment-author-avatar {
  object-fit: cover;
  position: absolute;
  height: 32px;
  width: 32px;
  display: inline-block;
  overflow: hidden;
}

.comment-date {
  font-size: 12px;
  color: #9197A3;
  position: absolute;
  margin-left: 40px;
  margin-top: -10px;
}

.comment-body {
  margin-left: 40px;
}

.comment-body > a {
  font-weight: bold;
  font-size: 12px;
  color: #3B5998;
  display: inline-block;
}
