.new-comment-input {
  border: 1px solid lightgrey;
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding-top: 7px;
  width: 100%;
  padding-bottom: 7px;
}

.btn-default.btn-create-comment {
  border: none;
  background-color: transparent;
  margin-top: -29px;
  margin-right: 10px;
  float: right;
  padding: 0px;
}

.comments-container {
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
  margin-bottom: 8px;
  list-style-type: none;
}
