.edit-input {
  // width: 20%;
  // margin: 0 auto;
  // left: 20%;
  // top: 10%;
}

.form-edit-profile {
  // left: 20%;
  // top: 10%;
  margin-top: 100px;
  margin-left: 200px;
  z-index: 10000;
  position: absolute;
}
