.friends-show {
  margin: 0 auto;
  background: #F6F7F8;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-top: 20px;
}

.friends-show > h3 {
  margin-left: 20px;
  font-family: helvetica,arial,sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

.friends-list {
  margin-top: 20px;
  background: white;
  border-top: 1px solid lightgrey;
}

.friend-list-item {
  height: 100px;
  list-style-type: none;
  margin-top: 14px;
  margin-left: 12px;
  background: white;
  border: 1px solid #E9EAED;
  width: 48%;
  display: inline-block;
}

.friend-list-item > img {
  height: 98px;
  width: 99px;
  object-fit: cover;
  display: inline-block;
  overflow: hidden;
}

.friend-list-item > div {
  position: relative;
  display: inline-block;
  top: 10%;
  margin-left: 5px;
}

.friend-list-item > div > a {
  font-weight: bold;
  color: #3B5998;
  font-size: 14px;
  font-family: helvetica,arial,sans-serif;
  line-height: 1.34;
}

.friend-list-item > div > p {
  font-size: 14px;
  color: #9197A3;
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
}
