.friends-thumbs {
  display: block;
  background-color: #F6F7F8;
  border-radius: 4px;
  border: 1px solid lightgrey;
  height: 387px;
  margin-bottom: 20px;
}

.friends-thumbs > p {
  color: #4E5665;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 22px;
  margin-left: 10px;
  margin-top: 10px;
}

.friends-thumbs > ul {
  background: white;
  padding: 4px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: 344px;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
}

.friends-thumbs > ul > li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 5px;
  height: 32.5%;
  width: 32.5%;
  position: relative;
}

.friend-thumb-fader {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;

  background: -webkit-linear-gradient(bottom, rgba(255,0,0,0) 70%, black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(255,0,0,0) 70%, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(255,0,0,0) 70%, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(255,0,0,0) 70%, black); /* Standard syntax (must be last) */
}



.friend-thumbnail > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: inline-block;
}

.friend-thumb-name {
  color: white;
  font-size: 12px;
  margin-left: 5px;
  word-wrap: break-word;
  margin-bottom: 2px;
  position: absolute;
  text-shadow: 1px;
  cursor: pointer;
  bottom: 0;
  z-index: 4;
}
