.navbar-default {
  background-color: #45619d;
  border-color: #3b5998;
}
.navbar-default .navbar-brand {
  color: #f8fbfb;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #f8fbfb;
}
.navbar-default .navbar-nav > li > a {
  color: #f8fbfb;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #3b5998;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #3b5998;
}
.navbar-default .navbar-toggle {
  border-color: #3b5998;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3b5998;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8fbfb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8fbfb;
}
.navbar-default .navbar-link {
  color: #f8fbfb;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8fbfb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #3b5998;
  }
}

.navbar-form .form-control {
  width: 400px;
  margin-top: 5px;
  height: 25px;
  margin-left: 70px;
}

button.btn.btn-default.search {
  height: 25px;
  padding:inherit;
  font-size: 12px;
  margin-top: 5px;
}

a.navbar-brand {
  top: 20px;
  font-size: 23px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}
