.navbar-default {
  background-color: #45619d;
  border-color: #3b5998;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default .navbar-brand {
  color: #f8fbfb;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #f8fbfb;
}
.navbar-default .navbar-nav > li > a {
  color: #f8fbfb;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #3b5998;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #3b5998;
}
.navbar-default .navbar-toggle {
  border-color: #3b5998;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #3b5998;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f8fbfb;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f8fbfb;
}
.navbar-default .navbar-link {
  color: #f8fbfb;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

// .settings {
//   background-color: inherit;
//   position: absolute;
//   vertical-align: middle;
//   margin-top: 8px;
// }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f8fbfb;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #3b5998;
  }

}

input.sign-out {
  background-color: white;
  border: none;
  height: 20px;
  font-size: 14px;
  margin-left: -6px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // display: block;
  // padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
  background-color: inherit;
}

input.sign-out:hover {
  background: transparent;
}

.navbar-right {
  margin-right: 210px;
}

.navbar-form .form-control {
  width: 400px;
  margin-top: 5px;
  height: 25px;
  margin-left: 200px;
}

button.btn.btn-default.search {
  height: 25px;
  padding:inherit;
  font-size: 12px;
  margin-top: 5px;
}

a.navbar-brand {
  top: 20px;
  font-size: 23px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

.btn-default.btn-search {
  border: none;
  padding-bottom: 2px;
  padding-top: 3px;
  margin-top: 5px;
}
