.post-container {
  position: relative;
  min-height: inherit;
}

.post-main {
  // position: absolute;
  // top: 0;
  padding: 10px;
  padding-bottom: 5px;
  border-bottom: 1px lightgray solid;
}

.post-footer {
  // position: absolute;
  bottom: 0;
  padding: 10px;
}

.btn-done-editing {
  float: right;
  background-color: #46639E;
  color: white;
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
  height: 28px;
  display: block;
  // margin-top: -30px;
  // position: absolute;
  // z-index: 20;
}

#btn-done-editing:hover {
  background-color: #46639E;
  color: white;
}

.post-body {
  margin-top: 30px;
  width: 100%;
  margin-bottom: 50px;
}

.post-content {
  border-radius: 4px;
  background-color: white;
  border-width: 1px;
  margin-bottom: 10px;
  // padding: 10px;
  // width: 75%;
  border: 1px lightgrey solid;
}

.post-dropdown {
  float: right;
  margin-right: 5px;
  margin-top: -30px;
  display: inline-block;
  list-style-type: none;
}

.post-footer {
  background-color: #F6F7F8;
}

.post-main > hr {
  margin-top: 3px;
  margin-bottom: 4px;
}

.post-like.liked {
  background-color: blue;
}

.post-like {
  padding: 4px;
  border: 0px;
}

.likes-text {
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
}

.post-footer > hr {
  margin-top: 5px;
  margin-bottom: 8px;
  border-top: 1px solid #E1E2E3;
}

.post-info {
  position: relative;
}

.post-avatar {
  position: absolute;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.post-author {
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
  color: #3B5998;
  margin-left: 50px;
}

.post-date {
  color: #9197A3;
  position: absolute;
  font-size: 12px;
  font-weight: normal;
  font-family: helvetica,arial,sans-serif;
  margin-left: 50px;
  margin-top: -8px;
}

.photos-container {
  margin-bottom: 15px;
}
