.post-container {
  position: relative;
  min-height: inherit;
}

.post-main {
  // position: absolute;
  // top: 0;
  padding: 10px;
  padding-bottom: 5px;
  border-bottom: 1px lightgray solid;
}

.post-footer {
  // position: absolute;
  bottom: 0;
  padding: 10px;
}

.post-content {
  border-radius: 4px;
  background-color: white;
  border-width: 1px;
  margin-bottom: 10px;
  // padding: 10px;
  // width: 75%;
  border: 1px lightgrey solid;
}

.dropdown.post {
  float: right;
  margin-top: -35px;
  list-style-type: none;
}

.post-footer {
  background-color: #F6F7F8;
}

.post-main > hr {
  margin-top: 3px;
  margin-bottom: 4px;
}

.post-like.liked {
  background-color: blue;
}

.post-like {
  padding: 4px;
  border: 0px;
}

.likes-text {
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
}

.post-footer > hr {
  margin-top: 5px;
  margin-bottom: 8px;
  border-top: 1px solid #E1E2E3;
}

.txt-new-post-form {
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgrey;
  padding: 10px;
}

.btn-submit-post {
  float: right;
  background-color: #46639E;
  color: white;
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
  height: 28px;
}
