.content {
  position: relative;
  margin: 0 auto;
  background: #fff;
  width: 68%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 240px;
  width: 1px;
  background: #ccc;
}


.content-cover {
  position: relative;
  display: block;
  height: 345px;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

#cover-pic-holder {
  // display:flex;
  justify-content:center;
  align-items:center;
  max-height: 300px;
  z-index: -1;
  overflow:hidden
}

#cover-pic {
  // flex-shrink:0;
  min-width:100%;
  min-height:100%;
}

.content-cover > h1 {
  position: absolute;
  bottom: 65px;
  left: 210px;
  font-size: 36px;
  line-height: 1;
  font-weight: 300;
  color: #fff;
  text-shadow: #000 0 0 10px;
}

#profile-pic {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  margin-left: 15px;
  margin-top: -140px;
  position: absolute;
  border: 4px solid;
  border-color: white;
  width: 170px;
  height: 170px;
  float:left;
  z-index: 2;
}

.profile-ribbon {
  position: absolute;
  overflow: hidden;
  text-align: center;
  display: block;
  z-index: 1;
  height: 40px;
  width: 100%;
  bottom: 0;
  background-color: white;
}

ul#ribbon {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

ul#ribbon > li {
  display: inline-block;
  padding: 10px;
}

content-cover > li {
  display: inline-block;
  padding: 10px;
}

.content-sidebar {
  float: left;
  width: 40%;
  min-height: 200px;
  margin-top: 20px;
}

.content-main {
  float: left;
  width: 60%;
  min-height: 200px;
  padding: 20px;
}


#change-cover {
  z-index: -1;
  position: absolute;
  top: 0;
}


ul.basic-info {
  list-style-type: none;
  float: left;
  background-color: white;
  width: 100%;
  border-radius: 2px;
  border: 1px solid lightgrey;
  float: left;
  padding: 15px;
}
