.content {
  position: relative;
  margin: 0 auto;
  background: transparent;
  // width: 68%;
  // border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  // border-bottom: 1px solid #ccc;
  width: 60%;
  float: left;
  margin-left: 230px;
}

// .content:before {
//   content: "";
//   display: block;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 240px;
//   width: 1px;
//   background: #ccc;
// }


.content-cover {
  position: relative;
  display: block;
  height: 345px;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

#cover-pic-holder {
  // display:flex;

  justify-content:center;
  align-items:center;
  max-height: 305px;
  z-index: -1;
  overflow:hidden
}

#cover-pic {
  // flex-shrink:0;
  min-width:100%;
  min-height:100%;
}

.content-cover > h1 {
  position: absolute;
  bottom: 45px;
  left: 200px;
  color: #fff;
  text-rendering: optimizelegibility;
  text-shadow: 0 0 3px rgba(0,0,0,.8);
  font-family: helvetica, arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  max-width: 275px;
}

#cover-pic-holder {
  z-index: 2;
}

#profile-pic {
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  margin-left: 15px;
  margin-top: -140px;
  position: absolute;
  border: 3px solid;
  border-color: grey;
  width: 170px;
  height: 170px;
  float:left;
  z-index: 2;
}

button#change-avatar {
  background-color: transparent;
  color: transparent;
  z-index: 5;
  border: none;
  position:relative;
  margin-left: 18px;
  width: 164px;
  height: 54px;
  margin-top: -27px;
}

button#change-avatar:hover {
  z-index: 5;
  background-color: rgba(0,0,0,0.8);
  font-size: 20px;
  color: lightgrey;
}

#change-cover {
  z-index: 3;
  background-color: rgba(0,0,0,0.8);
  color: lightgrey;
  position:absolute;
  top: 0;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
}

.friendship-status {
  z-index: 20;
  position: absolute;
  right: 10px;
  bottom: 50px;
  border: none;
  float: right;
}

#add-friend.friendship-status {
  background-color: green;
  color: white;
}

#un-friend.friendship-status {
  background-color: red;
  color: white;
}

.profile-ribbon {
  position: absolute;
  overflow: hidden;
  text-align: center;
  display: block;
  z-index: 1;
  height: 40px;
  width: 100%;
  bottom: 0;
  background-color: white;
}

ul#ribbon {
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

ul#ribbon > li {
  display: inline-block;
  padding: 10px;
}

content-cover > li {
  display: inline-block;
  padding: 10px;
}

.content-sidebar {
  float: left;
  width: 40%;
  min-height: 200px;
  margin-top: 20px;
}

.content-main {
  float: left;
  width: 60%;
  min-height: 200px;
  padding: 20px;
  padding-right: 0px;
}




.basic-info > ul {
  list-style-type: none;
  float: left;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightgrey;
  float: left;
  padding: 15px;
}

div.profile-ribbon ul.nav.nav-pills {
  margin-left: 205px;
}

div.profile-ribbon ul.nav.nav-pills > li {
  border-right: 1px solid #e9eaed;
  border-radius: 0px;
  margin: 0px;
}

div.profile-ribbon ul.nav.nav-pills > li > a {
  // border-right: 1px solid #e9eaed;
  border-radius: 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
}
