#profile-container{
margin:auto;
width:80%;
}

#container-content{
border:solid 1px #cccccc;
padding:20px;
width:auto;
color:#cccccc;
position: relative;
}

#info_box{
padding:60px 50px 0px 10px;
border:solid 1px #dedede;
width:auto;
background-color:#fcfcfc;
margin-top:350px;
}

#profile_img{
background-color: #FFFFFF;
border: 1px solid #DEDEDE;
margin-left: 10px;
margin-top: -200px;
position: absolute;
width: 200px;
height: 200px;
float:left;
}

.avatar_img{
padding:3px;
max-width:100%;
max-height:100%;
}

#cover_container{
overflow: auto;
background-size: cover;
min-height: 350px;
}

#info-box{
margin-left:115px;
margin-top: -50px;
position: absolute;
}

#info-name{
float:left;
overflow:hidden;
font-size: 40px;
font-weight: bold;
color: white;
// word-wrap: break-word;
width:300px;
position: absolute;
margin-left: 150px;
margin-top: -100px;
}

#info-content{
margin-left:170px;
width:290px;
}

#sidebar {

}

#info-photos{
text-align:center;
font-size:11px;
padding:5px;
float:left;
width:80px;
border:solid 1px #eeeeee;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

#info-friends{
text-align:center;
font-size:11px;
padding:5px;
margin-left:100px;
border:solid 1px #eeeeee;
width:80px;
-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;
}

ul.basic-info {
  list-style-type: none;
  float: left;
}
