.transparent-background {
  height: 1000px;
  width: 100%;
  background-color: transparent;
  position: absolute;
}

.search-results-list {
  z-index: 4;
  position: absolute;
  left: 21%;
  border-radius: 4px;
  background: white;
  width: 500px;
  margin-top: 45px;
  box-shadow: 0px 0px 25px black;
}

.search-result-item {
  list-style-type: none;
  background: white;
  border-radius: 4px;
  padding: 6px;
}

.search-result-item:hover {
  background: #EBEEF4;
}

.search-result-item > a > img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-top: -23px;
  object-fit: cover;
}

.search-result-item-info {
  display: inline-block;
  margin-left: 5px;
}

.search-result-item-name {
  font-weight: bold;
  color: black;
  margin: 0;
}

.search-result-item-city {
  display: inline-block;
  margin: 0px;
  font-family: helvetica,arial,sans-serif;
  color: #999;
  font-size: 12px;
  padding: 1px;
  font-weight: normal;
}

.form-group.search-bar {
  display: inline-table;
  margin-bottom: 0;
  left: 20.4%;
  position: absolute;
  vertical-align: middle;
}
