body.login {
  background-image: image-url('session/background.jpg');
  background-size: 100%;
	background-size: cover;
}

#facebook-Bar {
	background:#45619D;
	border-bottom: 1px solid #0053A6;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.52);
	min-width: 1000px;
	width: 100%;
	z-index: 1000;
}
#facebook-Frame {
	margin-left:auto;
	margin-right:auto;
	max-width:1000px;
	height:70px;
	display:block;
}
/*-------LOGO-----------*/
#logo {
	float: left;
	height: 70px;
	position: relative;
	width: 160px;
}
#logo a {
	position: absolute;
	top: 20px;
	font-size:23px; font-weight:bold; color:#FFF;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#header-main-right {
	float: right;
	height: 68px;
	position: relative;
	top:5px;
}
#header-main-right-nav {
	padding: 4px 6px 4px 4px;
	position: absolute;
	right: 0;
}

#login_form .inputtext {
	background-color: #FFFFFF;
	height:16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 5px 8px 5px 8px;
	width: 166px;
  height: 30px;
	border:1px solid #3A518A;
}
#login_form .inputtext:hover {
	border-color: #A0A0A0 #B9B9B9 #B9B9B9;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}

#login_form table tr td {
	padding: 0 0 0 5px;
}
#login_form table tr td label {
	color: #fff;
	cursor: pointer;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding-left: 1px;
	text-align: left;
	vertical-align: middle;
}
.fbbutton {
  border:1px solid #1D3871;
  width:94px;
  background: #5F77AB;
	border-radius: 3px;
  font-size:14px;
  line-height:25px;
  font-weight:normal;
  color:#fff;
}

#register {
	background: transparentize(white, 0.3);
	padding: 20px;
	vertical-align: middle;
	position: absolute;
	width: 30%;
	margin: 0 auto;
	left: 12%;
	top: 20%;
	border-radius: 10px;
}

#register > h2 {
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: bold;
}

#register > h4 {
	font-size: 19px;
	margin-bottom: 10px;
	font-weight: normal;
}

input.input-name.form-control {
	width: 48.8%;
	margin-bottom: 12px;
	display: inline-block;
	border-radius: 5px;
}

input.input-name.form-control:nth-child(5) {
	margin-left: 5px;
}

input.input-normal.form-control {
	width: 100%;
	margin-bottom: 12px;
	display: inline-block;
	border-radius: 5px;
}

input.input-date.form-control {
	width: 100%;
	margin-bottom: 12px;
}

input[type="date"]:before {
  content: attr(placeholder)': ' !important;
  color: #aaa;
  margin-right: 0.5em;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
  content: "";
}

.btn.btn-default.btn-register {
	background-color: green;
	color: white;
	border: none;
	margin-top: 15px;
}

.guest-logins {
	position: absolute;
	padding: 20px;
	width: 30%;
	bottom: 5%;
	right: 15%;
	background: transparentize(white, 0.3);
	border-radius: 10px;
}

.hovereffect > img {
	width: 100%;
	height: 95px;
	// object-fit: cover;
}

.guest-logins > h2 {
	font-size: 24px;
	margin-bottom: 10px;
	margin-top: 5px;
}

.hovereffect {
width: 20%;
height:100%;
float:left;
margin: 10px;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
color:#fff;
text-align:center;
position:relative;
font-size:12px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}
